@use "../config/variables" as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$font-main;
}

li {
    list-style: none;
}

body {
    background-color: v.$bg-body;
}

.container {
    max-width: v.$max-container;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 56px 0;
}
